@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins;
  src: url('../public/tele-groteskfet.ttf');
}

@font-face {
  font-family: poppins-thin;
  src: url('../public/tele-grotesknor.ttf');
}

.custom-class {
  display: none;
}